<!DOCTYPE html>
<html>
	<head>
		<% include header %>
		
		<style>
			.board_info {
				margin: 0;
				padding: 0;
				font-size: small;
			}
		</style>

		<script>
			function submitWriteForm() {
				if ($('#inputTitle').val() == "" || 
					$('#inputName').val() == "" ||
					$('#inputPassword').val() == "" ||
					$('#inputDesc').val() == "" ||
					$('#inputContent').val() == "") {
					alert("You have to read at least one character.")
					return;
				}

				// routine check			

				$("#writeForm").submit();
			}
		</script>
	</head>


	<body>
		<% include nav %>
		
		<main role="main">
			<div class="container">
				<div class="project-header">
					<h1 class="project-title">Bulletin Board</h1>
					<% if (typeof(query_word) != "undefined") { %>
					<p style="margin-top: 1rem"> Search Results: <%= query_word %> / <%= contents.length %></p>
					<% } %>

				<form class="form-inline d-flex justify-content-end" action="/search" method="post">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				</div>
			</div>

			<div class="container">
				<% if (contents.length > 0) { %>
				<ul class="list-group" style="margin: auto; width: 70%">
					<% var beg = (page - 1) * 10, end = page * 10; %>
					<% end = Math.min(contents.length, end); %>
					<% for (var i=beg; i<end; i++) { %>
					<a href="/view?id=<%= contents[i]._id %>" style="text-decoration: none">
					<li class="list-group-item" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
						<div class="row" style="text-align: center;">
							<div class="col-2">
								<div class="col" style="margin-top: 1rem">
									<%- person_icon %>
									<p><%= contents[i].writer %></p>
								</div>
							</div>
							<div class="col-8" style="border-left: 1px solid; border-right: 1px solid;">
								<div class="col" style="text-align: left">
									<h3><%= contents[i].title %></h3>
									<p><%= contents[i].contents %></p>
								</div>
							</div>
							<div class="col-2" style="text-align: left; w-100">
								<p class="board_info"><%- eye_icon %> <%= contents[i].hits %> View</p>
								<p class="board_info"><%- comment_icon %> <%= contents[i].comments.length %> Reply</p>
								<p class="board_info"><%- like_icon %> <%= contents[i].like  %> Like</p>
								<p class="board_info"><%- history_icon %> 1 minute</p>
							</div>
						</div>
					</li>
					</a>
					<% }  %>
				</ul>
				<hr>
				<div class="container">
					<% var total_page = Math.floor(contents.length / (divider)) + 1; %>
					<% var pos_page = Math.floor(page / 5.1); %>
					<% var beg = (pos_page) * 5, end = (beg + 5); %>
					<% end = Math.min(end, total_page); %>
					<% console.log("beg: " + beg + " end: " + end); %>
					<div class="btn-group mr-2 d-flex justify-content-center" role="group">
					<% if (beg > 0) { %>
						<a href="/board?page=<%= beg %>">
							<button type="button" class="btn btn-info"> < </button>
						</a>
					<% } %>
					<% for (var i=beg; i<end; ++i) { %>
						<a href="/board?page=<%= i+1 %>">
							<% if ((i+1) == page) { %>
								<button type="button" class="btn btn-primary"><%= i+1 %></button>
							<% } else { %>
								<button type="button" class="btn btn-secondary"><%= i+1 %></button>
							<% } %>
						</a>
					<% } %>
					<% if (end < total_page) { %>
						<a href="/board?page=<%= end+1 %>">
							<button type="button" class="btn btn-info"> > </button>
						</a>
					<% } %>
					</div>	
				<% } else { %>
				<div class="continaer d-flex justify-content-center" style="margin: auto; width: 70%; height: 75px">
					<h3> There is no an article here </h3>
				</div>
				<hr>
				<% } %>
				<div class="d-flex justify-content-end">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#writeModal">
						<%- pencil_icon %>
							<p style="display: inline; margin-left: 0.5rem;"> Write</p>
						</button>
				</div>
				<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Write Article</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form id="writeForm" action="/board/write" method="post">
									<div class="form-row">
										<div class="form-gorup col-md-12">
											<label for="inputTitle">Title</label>
											<input type="text" class="form-control" id="inputTitle" name="inputTitle">
										</div>
						
										<div class="form-group col-md-6">
											<label for="inputName">Name</label>
											<input type="text" class="form-control" id="inputName" name="inputName"/>
										</div>
										<div class="form-group col-md-6">
											<label for="password">Password</label>
											<input type="password" class="form-control" id="inputPassword" name="inputPassword"/>
										</div>
										<div class="form-group col-md-12">
											<label for="inputDesc">Description: </label>
											<input type="text" class="form-control" id="inputDesc" name="inputDesc"/>
										</div>
										<div class="form-group">
											<label for="inputContent">Content: </label>
											<textarea class="form-control" cols="100" rows="10"  name="inputContent" id="inputContent"></textarea>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" onclick="submitWriteForm()">Write</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<% include footer %>
	</body>
</html>
