<!DOCTYPE html>
<html>
<head>
	<% include header %>

	<style>
		#cName, #cPwrd {
			height: 2rem;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}

		#sendbtn {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	</style>

	<script>
		function removeArticle() {
			var pwd = prompt("Please enter the password of article.");
			if (pwd == null || pwd == "")
				return;

			$('#articlePwd').val(pwd);
			$('#aremoveForm').submit();

		}

		function removeComment() {
			var pwd = prompt("Please enter the password of comment.");
			if (pwd == null || pwd == "")
				return;

			$('#commentPwd').val(pwd);
			$('#cremoveForm').submit();
		}

		function modifyCheck() {
			var pwd = prompt("Please enter the password of comment.");
			if (pwd == null || pwd == "")
				return;

			$("#modify_inputpwd").val(pwd);
		}

		function modifyArticle() {
			// routine check
			var pwd = prompt("Please enter the password of comment.");
			if (pwd == null || pwd == "")
				return;

			$("#modify_inputpwd").val(pwd);
			$('#modifyForm').submit();
		}
	</script>
</head>

<body>
	<% include nav %>

	<main role="main">
		<div class="bg-light w-75 container" style="height: 500px; margin-top: 2rem; margin-bottom: 2rem;">
			<div class="container">
				<div class="row">
					<div class="col-1" style="padding-top: 2rem;">
						<div class="container">
							<%- person_icon %>
						</div>
					</div>

					<div class="col-8" style="padding-top: 0.5rem;">
						<h3><%= content.title %></h3>
						<p style="margin: 0"><%= content.writer %></p>
						<p><%= content.description %></p>
					</div>

					<div class="col d-flex justify-content-end" style="padding-top: 1rem">
						<button class="btn btn-outline-primary h-50" style="margin: 2px""><%- like_icon %></button>
						<button type="button" data-toggle="modal" data-target="#modifyModal" class="btn btn-outline-primary h-50" style="margin: 2px"><%- tools_icon %></button>
						<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Modify Article</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form id="modifyForm" action="/board/modify" method="post">
											<div class="form-row">
												<div class="form-gorup col-md-12">
													<label for="inputTitle">Title</label>
													<input type="text" class="form-control" id="inputTitle" name="inputTitle" value="<%= content.title %>">
												</div>
											
												<div class="form-group col-md-6">
													<label for="inputName">Name</label>
													<input type="text" class="form-control" id="inputName" name="inputName" value="<%= content.writer %>"/>
												</div>
												<div class="form-group col-md-6">
													<label for="password">Password</label>
													<input type="password" class="form-control" id="inputPassword" name="inputPassword" value="<%= content.password %>"/>
												</div>
												<div class="form-group col-md-12">
													<label for="inputDesc">Description: </label>
													<input type="text" class="form-control" id="inputDesc" name="inputDesc" value="<%= content.description %>"/>
												</div>
												<div class="form-group">
													<label for="inputContent">Content: </label>
													<textarea class="form-control" cols="100" rows="10" name="inputContent" id="inputContent"><%= content.contents %></textarea>
												</div>

												<input type="hidden" name="modify_inputpwd" id="modify_inputpwd"/>
												<input type="hidden" name="modify_inputid" id="modify_inputid" value="<%= content._id %>"/>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" onclick="modifyArticle()">Modify</button>
									</div>
								</div>
							</div>
						</div>

						<form id="aremoveForm" action="/board/remove" method="post">
							<input type="hidden" id="articleId" name="articleId" value="<%= content._id %>"/>
							<input type="hidden" id="articlePwd" name="articlePwd"/>
							<button class="btn btn-outline-primary h-50" id="" style="margin: 2px" onclick="removeArticle()"><%- can_icon %></button>
						</form>
					</div>
				</div>
			</div>

			<div class="container" style="padding-top: 1rem; padding-bottom: 1rem;">	
				<p><%= content.contents %></p>
			</div>

		</div>
			<% if ( content.comments.length > 0) { %>
			<% console.log("comments = " + content.comments.length) %>
			<div class="container bg-light w-75">
			<%	for (var i=0; i<content.comments.length; ++i) { %>
			<div class="container">
				<div class="row">
					<div class="col-1" style="margin-top: 1rem">
						<div class="container">
							<%- person_icon %>
							<h5><%= content.comments[i].name %></h5>
						</div>
					</div>
					<div class="col-10 bg-white" style="margin-top: 1rem"> 
						<p><%= content.comments[i].memo %></p>
					</div>
					<div class="col-1" style="margin-top: 1rem">
						<button class="btn btn-primary" style="margin: 2px"><%- tools_icon %></button>
						<form id="cremoveForm" action="/comment/remove" method="post">
							<input type="hidden" id="commentId" name="commentId" value="<%= content.comments[i]._id %>">
							<input type="hidden" id="commentPwd" name="commentPwd">
							<input type="hidden" name="cidx" value="<%= content._id %>">
						<button class="btn btn-primary" style="margin: 2px" onclick="removeComment()"><%- can_icon %></button>
						</form>
					</div>
				</div>

			</div>
			<%	 } %>
			</div>
			<% }	   %>

		<div class="bg-light container" style="padding-top: 1rem">
			<form action="/comment" method="post">
			<div class="form-row">
				<div class="col-2" style="padding-top: 1rem;">
						<div style="text-align: center"> <%- person_icon %> </div>
						<div class="form-group form-row">
							<input class="form-control" type="hidden" name="cidx" value="<%= idx %>">
							<input class="form-control" type="text" name="cName" id="cName" placeholder="Name"/>
							<input class="form-control" type="password" name="cPwrd" id="cPwrd" placeholder="Password"/>
						</div>
				</div>

				<div class="form-group col-8" style="margin-top: 1rem; margin-left: 1rem; margin-right: 1rem">
					<textarea class="form-control" cols="100" rows="5" name="comment" id="comment" style="resize: none"></textarea>
				</div>
				<div class="col-1">
					<button class="btn btn-primary" id="sendbtn">Send</button>
				</div>
			</div>
					
		</div>
	</main>
	<% include footer %>
</body>
</html>
