<!DOCTYPE html>
<html>
	<head>
		<% include header %>

		<style>
			#submitBtn {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}
		</style>
	</head>

	<body>
		<% include nav %>

		<main class="main">
			<div class="container">
				<div class="project-header">
					<h1 class="project-title">Contact Us<h1>
					<p class="project-description">Feel free to contact if you have any questions</p>
				</div>

				<div class="container">
					<form action="/contactus" method="post" id="contactform">
						<div class="form-group row">
							<label for="inputName" class="col-sm-2 col-form-label">Name</label>
							<div class="col-sm-10">
								<input type="text" name="inputName" class="form-control w-25" id="inputName"/>
							</div>
						</div>

						<div class="form-group row">
							<label for="inputPhone" class="col-sm-2 col-form-label">Phone Number</label>
							<div class="col-sm-10">
								<input type="text" name="inputPhone" class="form-control w-25" id="inputPhone"/>
							</div>
						</div>

						<div class="form-gorup row">
							<label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="email" name="inputEmail" class="form-control w-25" id="inputEmail"/>
							</div>
						</div>

						<div class="conatiner" style="margin-top:0.5rem; margin-botton:0.5rem">
							<div class="form-gorup">
								<label for="comment">Comment:</label>
								<textarea class="form-control w-50" name="comment" rows="7" id="comment"></textarea>
							</div>
						</div>

						<input type="submit" id="submitBtn"  class="btn btn-info" value="Send">
					</form>
				</div>
			</div>
		</main>

		<% include footer %>
	</body>
</html>
