﻿<!DOCTYPE html>
<html>

 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <title> 프로필시작 </title>
 
 </head>

</body>

   <frameset rows="110,*">
   <frame src="top.html" scrolling="no">
   <frameset cols="24%,*">
   <frame src="left.html">
   <frame src="right.html" name="right">
   </frameset>
   </frameset>

</body>
</html>