﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<% include header %>
</head>
<body>
		<% include nav %>
<center><h1 class="project-header"> Who? Jeong hee yoon </h1></center>
<center>
<table border ="1">
<tr>
 <td rowspan="2" width="200" height="300">
 <center>
 <img src="images/huiyun.jpg" width="190" height="290">
 </center>
 </td>
 <th>성 명</td>
 <td width="150">정 희 윤</td>
</tr>
<tr>
 <th>H  P</th>
 <td>010-7664-5088</td>
</tr>
<tr>
 <th align="center">소  속</th>
 <td colspan="2">동의대학교 컴퓨터공학과, 148 ROTC</td>
</tr>
<tr>
 <th><a class="menuLink" href="/huiyun2">일대기</a></th>
 <td colspan="2">일대기 버튼을 누르시면 다른 페이지로 이동합니다.</td>
</tr>
</table>
</center>
		<% include footer %>
</body>
</html>