<!DOCTYPE html>
<html lang="ko">
<head>
	<% include header %>
	
	<style>
		#project_main {
			background-image: url("images/jumbotron-img.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			background-color: rgba(255, 255, 255, 0.3)
		}

		#project_main h1 {
			color: white
		}

		#project_main p {
			color: white
		}

		#project_main hr {
			border: 1px solid #CCC;
		}

		.follow-icons {
			max-width: 200px;
			margin: auto;
		}

		.follow-icon {
			text-align: center;
			margin-left: 5px;
			margin-right: 5px;
		}
	</style>
</head>

<body>
	<% include nav %>

	<main role="main">
		<div id="project_main" class="jumbotron">
			<div class="container">
				<h1 class="display-3">Hello, World!</h1>
				<p class="lead">Team RaspberryPi A class / Tiny earthquake detector <p>
				<hr class="my-4">
				<p class=>We'll make a tiny earthquake detector. </p>
				<p class=>You want to know about our proejct, feel free to click the button below.</p>
				<p class="lead">
					<a class="btn btn-primary btn_lg" href="/project" role"button">Discover more</a>
				</p>
			</div>
		</div>

		<div class="conatiner marketing">
			<div class="row">
					<% for (var i=0; i<contents.length; ++i) { %>
					<div class="col-lg-3">
						<% if (contents[i].pic_link == "") { %>
						<img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="  width="100" height="100">
						<% } else { %>
						<img class="rounded-circle" src="<%= contents[i].pic_link %>"  width="100" height="100">
						<% } %>

						<div class="container" style="margin-top: 1rem">
							<h4><%= contents[i].name %></h4>
							<p><%= contents[i].description %></p>
							<div class="col follow-icons">
								<a href="mailto:<%= contents[i].mail %>" class="follow-icon">
									<%- mail_icon %>
								</a>

								<a href="http://www.facebook.com/<%= contents[i].facebook %>" class="follow-icon"><svg viewBox="0 0 8.2 17" id="icon-facebook" xmlns="http://www.w3.org/2000/svg" width="5%" height="5%"><path d="M0 5.6h1.8V3.9c0-.8 0-1.9.6-2.6C2.9.5 3.7 0 5.1 0c2.2 0 3.2.3 3.2.3l-.5 2.6s-.7-.2-1.4-.2-1.3.3-1.3.9v2h2.8l-.2 2.6H5.1V17H1.8V8.2H0V5.6z"></path></svg>
								</a>

								<a href="http://www.instagram.com/<%= contents[i].instagram %>" class="follow-icon">
								<svg viewBox="0 0 17 17" id="icon-instagram" xmlns="http://www.w3.org/2000/svg" width="10%" height="10%"><path d="M13.7 0H3.3C1.5 0 0 1.5 0 3.3v10.5C0 15.5 1.5 17 3.3 17h10.4c1.8 0 3.3-1.5 3.3-3.3V3.3C17 1.5 15.5 0 13.7 0zm1 2h.3v2.9h-2.9V2h2.6zM6.1 6.8c.5-.8 1.4-1.3 2.4-1.3s1.9.5 2.4 1.2c.4.5.6 1.1.6 1.7 0 1.7-1.3 3-3 3s-3-1.3-3-3c0-.5.2-1.1.6-1.6zm9.3 6.9c0 .9-.7 1.6-1.6 1.6H3.3c-.9 0-1.6-.7-1.6-1.6v-7h2.5c-.2.6-.3 1.2-.3 1.8 0 2.6 2.1 4.7 4.7 4.7s4.7-2.1 4.7-4.7c0-.6-.1-1.2-.3-1.7h2.5v6.9z"></path></svg>
								</a>
							</div>
						</div>
					</div>
					<% } %>
			</div>
		</div>
	</main>

	
	<% include footer %>
</body>
</html>
