<!doctype html>


<html lang="ko">
  <head>
    <link rel="shortcut icon" href="/jh.ico">
    <meta charset="utf-8">
    <title>Introduction</title>

    <% include header %>
	
    <style>
      #jb-container { 
        width: 700px;
		height: auto;
        margin: 0px auto;
        padding: 20px;
        border: 3px solid black;
		background-image: url('jh.jpg'); 
		background-repeat: repeat;
		float: center;
      }
      #jb-header {
        padding: 20px;
        margin-bottom: 70px;
        border: 2px solid black;
		background-color : white;
		text-align: center;
		vertical-align: middle;
		float: center;
      }
      #jb-content1 { 
        width: 380px;
		height: 0px auto;
        padding: 20px;
		margin-top: 40px;
        margin-bottom: 110px;
		
		 margin-left : -150px;
        border: 2px solid black;
        background-color : white;
		
      }
	  #jb-content2 { 
        width: 100px;
		height: 0px auto;
        padding: 10px;
        margin-bottom: 20px;
        float: left;
        border: 2px solid black;
        background-color : white;
		text-align: center;
      }
	  #jb-content3 { 
        width: 380px;
		height: 0px auto;
        padding: 20px;
		margin-top: 40px;
        margin-bottom: 110px;
		
        border: 2px solid black;
        background-color : white;
		
      }
      #jb-menubar { 
        width: 210px;
		height:320px;
        padding: 10px;
		margin: 0px auto;
        float: left;
        border: 1px solid black;
		background-color : white;
      }
	  #jb-sideL { 
        width: 210px;
		height:280px;
		
		margin-bottom: 50px;
        border: 1px solid black;
		background-color : white;
      }
	   #jb-sideR {
        width: 210px;
		height:280px;
        border: 1px solid black;
		background-color : white;
		margin-bottom: 50px;
		float : right;
      }
	    #jb-sideC { 
        width: 210px;
		height:100px;
		float : center;
        border: 1px solid black;
		background-color : white;
      }
 
    </style>
  </head>

  <body>
    <% include nav %>

   <div id="jb-menubar">
	  <b>
	  <label style ="text-align: center; font-size: 22px; white-space : pre-wrap;">           <img src ="micon.png">MENU</label>
	  </b>
      <br/>
	  <br/>
        <label style ="font-size: 10px; white-space : pre-wrap;"> 홈 화면</label>
		  <input type="button" name="home" value=" HOME " onclick="location.href='home.html';" style="height:50px;width:210px;font-size: 20px"/>
		  <label style ="font-size: 10px">소개</label>
		  <input type="button" name="introduction" value=" Introduction " onclick="location.href='/junhwan';" style="height:50px;width:210px;font-size: 20px"/>
		  <label style ="font-size: 10px">검색</label>
		  <input type="button" name="search" value=" Search " onclick="location.href='search.html';" style="height:50px;width:210px;font-size: 20px"/>
		  <label style ="font-size: 10px">이메일</label>
		  <input type="button" name="email" value=" E-mail " onclick="location.href='email.html';" style="height:50px;width:210px;font-size: 20px"/>
    
        
      </div>
  <div id="jb-container">
   
      <div id="jb-header">
        <h1> Introduction <img src ="iicon.png"></h1>
      </div>
	<table width ="700px" height="0px auto">
	<tr>
	<td >
	<div id="jb-content2">
  <b><label style = "font-size: 18px" >자기 소개</label></b>
  </div>
   
    </td>
	<td></td>
	</tr>
	<tr>
	<td> <div id="jb-sideL">
	  
         <img src ="i1.jpg " style="max-width:100%; height:auto;"/>
     </div>
	 </td>
	 <td>
	 <div id="jb-content1">
   <table width ="380px" height="0px auto">
   <th align ="center"  valign = "top" colspan = "2" style = "font-size: 20px">
   자기 소개
   </th>
	<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
   
<tr>
<td align ="left" >
		<b><label >이름 : </label></b>
</td>
<td align="right">
		<input  type="text" name="name" value ="김준환"  style = "text-align: right" maxlength="20" size="10"/>
</td>	
</tr>
	
<tr>
<td align ="left">
		<b><label >생년 월일 : </label></b>
</td>
<td align="right">
		<input  type="text" name="birth" value ="93년 12월 27일" style = "text-align: right"maxlength="20" size="13">
</td>	
	
</tr>
<tr>
<td align ="left">	
		<b><label>학교 : </label></b>
</td>
<td align="right">		
		<input  type="text" name="university" value ="동의대학교 컴퓨터 공학과" style = "text-align: right"maxlength="20" size="25">
</td>	
	
</tr>
<tr>
<td align ="left">
		<b><label>좋아하는 것 : </label></b>
</td>
<td align="right">		
		<input  type="text" name="favorite" value ="여행, 운동" style = "text-align: right" maxlength="20" size="10">
</td>
</tr>
	</table>
</div>
	 </td>
	</tr>
	
	  
   
<tr>
<td>
  <div id="jb-content2">
  <b><label style = "font-size: 18px" >여행 기록</label></b>
  </div>
</td> 
<td>
</td> 
 </tr>
  
<tr>

<td>
<div id="jb-content3">
<label style = "font-size: 18px" >영국 : 2016년 9월 19일 ~ 2016년 9월 23일</label>
</div>
</td>
<td>
<div id="jb-sideR" >
	  
         <img src ="i2.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
</tr>

<tr>
<td>
<div id="jb-sideL" >
	  
         <img src ="i3.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
<td>
<div id="jb-content1">
<label style = "font-size: 18px" >벨기에 : 2016년 9월 23일 ~ 2016년 9월 25일</label>
</div>
</td>
</tr>

<tr>
<td>
<div id="jb-content3">
<label style = "font-size: 18px" >네덜란드 : 2016년 9월 25일 ~ 2016년 9월 27일</label>
</div>
</td>
<td>
<div id="jb-sideR" >
	  
         <img src ="i4.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
</tr>

<tr>
<td>
<div id="jb-sideL" >
	  
         <img src ="i5.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
<td>
<div id="jb-content1">
<label style = "font-size: 18px" >독일 : 2016년 9월 25일 ~ 2016년 9월 30일</label>
</div>
</td>
</tr>

<tr>
<td>
<div id="jb-content3">
<label style = "font-size: 18px" >체코 : 2016년 10월 1일 ~ 2016년 10월 5일</label>
</div>
</td>
<td>
<div id="jb-sideR" >
	  
         <img src ="i6.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
</tr>

<tr>
<td>
<div id="jb-sideL" >
	  
         <img src ="i7.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
<td>
<div id="jb-content1">
<label style = "font-size: 18px" >크로아티아 :2016년 10월 6일 ~ 2016년 10월 10일</label>
</div>
</td>
</tr>

<tr>
<td>
<div id="jb-content3">
<label style = "font-size: 18px" >이탈리아 : 2016년 10월 11일 ~ 2016년 10월 17일</label>
</div>
</td>
<td>
<div id="jb-sideR" >
	  
         <img src ="i8.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
</tr>

<tr>
<td>
<div id="jb-sideL" >
	  
         <img src ="i9.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
<td>
<div id="jb-content1">
<label style = "font-size: 18px" >스위스 :2016년 10월 17일 ~ 2016년 10월 21일</label>
</div>
</td>
</tr>

<tr>
<td>
<div id="jb-content3">
<label style = "font-size: 18px" >스페인 : 2016년 10월 21일 ~ 2016년 10월 23일</label>
</div>
</td>
<td>
<div id="jb-sideR" >
	  
         <img src ="i10.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
</tr>

<tr>
<td>
<div id="jb-sideL" >
	  
         <img src ="i11.jpg " style="max-width:100%; height:100%;"/>
     </div>
</td>
<td>
<div id="jb-content1">
<label style = "font-size: 18px" >프랑스 :2016년 10월 24일 ~ 2016년 10월 28일</label>
</div>
</td>
</tr>

</table>
	  </div>
    <% include footer %>
  </body>
</html>