<!DOCTYPE html>
<html>
	<head>
		<% include header %>

    <style>
      .card .card-heading {
          padding: 0 20px;
          margin: 0;
      }

      .card .card-heading.simple {
          font-size: 20px;
          font-weight: 300;
          color: #777;
          border-bottom: 1px solid #e5e5e5;
      }

      .card .card-heading.image img {
          display: inline-block;
          width: 46px;
          height: 46px;
          margin-right: 15px;
          vertical-align: top;
          border: 0;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
      }

      .card .card-heading.image .card-heading-header {
          display: inline-block;
          vertical-align: top;
      }

      .card .card-heading.image .card-heading-header h3 {
          margin: 0;
          font-size: 14px;
          line-height: 16px;
          color: #262626;
      }

      .card .card-heading.image .card-heading-header span {
          font-size: 12px;
          color: #999999;
      }

      .card .card-body {
          padding: 0 20px;
          margin-top: 10px;
          margin-bottom: 10px;
      }

      .card .card-media {
          padding: 0 20px;
          margin: 0 -14px;
      }

      .card .card-media img {
          max-width: 100%;
          max-height: 100%;
      }

      .card .card-actions {
          min-height: 30px;
          padding: 0 20px 20px 20px;
          margin: 20px 0 0 0;
      }

      .card .card-comments {
          padding: 20px;
          margin: 0;
          background-color: #f8f8f8;
      }

      .card .card-comments .comments-collapse-toggle {
          padding: 0;
          margin: 0 20px 12px 20px;
      }

      .card .card-comments .comments-collapse-toggle a,
      .card .card-comments .comments-collapse-toggle span {
          padding-right: 5px;
          overflow: hidden;
          font-size: 12px;
          color: #999;
          text-overflow: ellipsis;
          white-space: nowrap;
      }

      .card-comments .media-heading {
          font-size: 13px;
          font-weight: bold;
      }

      .card.people {
          position: relative;
          display: inline-block;
          width: 170px;
          height: 300px;
          padding-top: 0;
          margin-left: 20px;
          overflow: hidden;
          vertical-align: top;
      }

      .card.people:first-child {
          margin-left: 0;
      }

      .card.people .card-top {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 170px;
          height: 150px;
          background-color: #ffffff;
      }

      .card.people .card-top.green {
          background-color: #53a93f;
      }

      .card.people .card-top.blue {
          background-color: #427fed;
      }

      .card.people .card-info {
          position: absolute;
          top: 150px;
          display: inline-block;
          width: 100%;
          height: 101px;
          overflow: hidden;
          background: #ffffff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }

      .card.people .card-info .title {
          display: block;
          margin: 8px 14px 0 14px;
          overflow: hidden;
          font-size: 16px;
          font-weight: bold;
          line-height: 18px;
          color: #404040;
      }

      .card.people .card-info .desc {
          display: block;
          margin: 8px 14px 0 14px;
          overflow: hidden;
          font-size: 12px;
          line-height: 16px;
          color: #737373;
          text-overflow: ellipsis;
      }

      .card.people .card-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          display: inline-block;
          width: 100%;
          padding: 10px 20px;
          line-height: 29px;
          text-align: center;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }

      .card.hovercard {
          position: relative;
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 10px;
          overflow: hidden;
          text-align: center;
          background-color: rgba(214, 224, 226, 0.2);
      }

      .card.hovercard .cardheader {
          background: url("images/junyoung-background.png");

          background-size: cover;
          height: 135px;
      }

      .card.hovercard .avatar {
          position: relative;
          top: -50px;
          margin-bottom: -50px;
      }

      .card.hovercard .avatar img {
          width: 100px;
          height: 100px;
          max-width: 100px;
          max-height: 100px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          border: 5px solid rgba(255,255,255,0.5);
      }

      .card.hovercard .info {
          padding: 4px 8px 10px;
      }

      .card.hovercard .info .title {
          margin-bottom: 4px;
          font-size: 24px;
          line-height: 1;
          color: #262626;
          vertical-align: middle;
      }

      .card.hovercard .info .desc {
          overflow: hidden;
          font-size: 12px;
          line-height: 20px;
          color: #737373;
          text-overflow: ellipsis;
      }

      .card.hovercard .bottom {
          padding: 0 20px;
          margin-bottom: 17px;
      }

      .btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

    .follow-icon {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
    }
</style>
	</head>

	<body>
		<% include nav %>

		<main role="main">
			<div class="container">
				<div class="project-header">
					<h3 class="project-title">Hello, I'm junyoung</h3>
				</div>
			</div>

      <div class="row container">

    <div class="col-2 align-items-start">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
        <a class="nav-link" id="v-pills-skills-tab" data-toggle="pill" href="#v-pills-skills" role="tab" aria-controls="v-pills-skills" aria-selected="false">Skills</a>
        <a class="nav-link" id="v-pills-life-tab" data-toggle="pill" href="#v-pills-life" role="tab" aria-controls="v-pills-life" aria-selected="false">Life</a>
      </div>
    </div>
    <div class="col-10">
      <div class="tab-content" id="v-pills-tabContent" style="min-height: 500px">
        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="d-flex justify-content-center">
            <div class="d-flex card hovercard col-3">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src="images/junyoung.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="/junyoung">Junyoung Jeon</a>
                    </div>
                    <div class="desc">Undergraduate student</div>
                    <div class="desc">To be a good programmar</div>
                    <div class="desc">Still learning</div>
                </div>
                <div class="bottom">
                    <a href="mailto:8byte@naver.com" class="follow-icon"><%- mail_icon %></a>
                                    <a href="http://www.facebook.com/" class="follow-icon"><svg viewBox="0 0 8.2 17" id="icon-facebook" xmlns="http://www.w3.org/2000/svg" width="5%" height="5%"><path d="M0 5.6h1.8V3.9c0-.8 0-1.9.6-2.6C2.9.5 3.7 0 5.1 0c2.2 0 3.2.3 3.2.3l-.5 2.6s-.7-.2-1.4-.2-1.3.3-1.3.9v2h2.8l-.2 2.6H5.1V17H1.8V8.2H0V5.6z"></path></svg>
                </a>

                <a href="http://www.instagram.com/byte8" class="follow-icon">
                <svg viewBox="0 0 17 17" id="icon-instagram" xmlns="http://www.w3.org/2000/svg" width="10%" height="10%"><path d="M13.7 0H3.3C1.5 0 0 1.5 0 3.3v10.5C0 15.5 1.5 17 3.3 17h10.4c1.8 0 3.3-1.5 3.3-3.3V3.3C17 1.5 15.5 0 13.7 0zm1 2h.3v2.9h-2.9V2h2.6zM6.1 6.8c.5-.8 1.4-1.3 2.4-1.3s1.9.5 2.4 1.2c.4.5.6 1.1.6 1.7 0 1.7-1.3 3-3 3s-3-1.3-3-3c0-.5.2-1.1.6-1.6zm9.3 6.9c0 .9-.7 1.6-1.6 1.6H3.3c-.9 0-1.6-.7-1.6-1.6v-7h2.5c-.2.6-.3 1.2-.3 1.8 0 2.6 2.1 4.7 4.7 4.7s4.7-2.1 4.7-4.7c0-.6-.1-1.2-.3-1.7h2.5v6.9z"></path></svg>
                </a>
                </div>
            </div>
          </div>

          <div class="row">
          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Name</div>
            <div class="card-body">Junyoung Jeon</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Birth</div>
            <div class="card-body">1992-03-08</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Major</div>
            <div class="card-body">Computer Engineering</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Email</div>
            <div class="card-body">8byte@naver.com</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Email</div>
            <div class="card-body">8byte@naver.com</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Phone</div>
            <div class="card-body">+82 10-7210-2992</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Web</div>
            <div class="card-body">8byte.tistory.com</div>
          </div>

          <div class="card" style="width: 13rem; text-align: center; margin: 5px">
            <div class="card-header bg-success text-white">Address</div>
            <div class="card-body">526 Baegyang-daero</div>
          </div>
        </div>

        </div>
        <div class="tab-pane fade" id="v-pills-skills" role="tabpanel" aria-labelledby="v-pills-skills-tab">
          <div class="d-flex justify-content-center col" style="text-align: center; padding-top: 10px; padding-bottom: 10px">
            <div class="col">
            <h2> I </h2>
            <h2> Do </h2>
          <h2 style="display: inline">{</h2> <h5 style="display: inline"><span class="badge badge-primary">C</span>, <span class="badge badge-primary">C++</span>, <span class="badge badge-primary">C#</span>, <span class="badge badge-primary">HTML</span>, <span class="badge badge-primary">CSS</span>, <span class="badge badge-primary">Javascript</span>, <span class="badge badge-primary">Go</span>, <span class="badge badge-primary">WPF</span></h5> <h2 style="display: inline">}</h2>
          </div>
        </div>

         <div class="d-flex justify-content-center col" style="text-align: center; padding-top: 10px; padding-bottom: 10px">
            <div class="col">
            <h2> I </h2>
            <h2> Did </h2>
          <h2 style="display: inline">{</h2> <h5 style="display: inline"><span class="badge badge-secondary">Game Server</span>, <span class="badge badge-secondary">Game Client</span>, <span class="badge badge-secondary">Web server</span>, <span class="badge badge-secondary">Reverse Engineering</span>, <span class="badge badge-secondary">Utility</span></h5> <h2 style="display: inline">}</h2>
          </div>
        </div>

        <div class="d-flex justify-content-center col" style="text-align: center; padding-top: 10px; padding-bottom: 10px">
            <div class="col">
            <h2> I </h2>
            <h2> Am learning </h2>
          <h2 style="display: inline">{</h2> <h5 style="display: inline"><span class="badge badge-info">English</span>, <span class="badge badge-info">Algorithm</span>, <span class="badge badge-info">Math</span>, <span class="badge badge-info">Pharell Programming</span>, <span class="badge badge-info">Linux</span> </h5> <h2 style="display: inline">}</h2>
          </div>
        </div>
        </div>
        <div class="tab-pane fade" id="v-pills-life" role="tabpanel" aria-labelledby="v-pills-life-tab">
          <table class="table table-hover" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col-1">#</th>
                <th scope="col-3">Content</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Born in Busan</td>
                <td>March, 1992</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>First Birthday</td>
                <td>March, 1993</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Moved to Seoul</td>
                <td>1998</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Entered a elementary school</td>
                <td>March, 1999</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Entered a middle school</td>
                <td>March, 2005</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Graduated a high school</td>
                <td>February, 2011</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Joined the army</td>
                <td>November, 2011</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>Retired a military service</td>
                <td>August, 2013</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>Entered a university</td>
                <td>March, 2015</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>Junior student in university</td>
                <td>November, 2017</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

		</main>


		<% include footer %>
	</body>
</html>
