	<script>
	$(document).ready(function() {
		$('.nav-link').each(function(index, li) {
			if (location.pathname == li.pathname) {
				$('.nav-item.active').removeClass('active');
				console.log()   
				$(this).parent().addClass('active'); 
			}
		});
	</script>

	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/"><img src="images/raspberry-pi-logo.png"  width="50" height="50"/></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		</button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Team</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" href="/junyoung">Junyoung Jeon</a>
						<a class="dropdown-item" href="/dongwok">Dongwok Kim</a>
						<a class="dropdown-item" href="junhwan">Junhwan Kim</a>
						<a class="dropdown-item" href="/huiyun">Huiyun Jeong</a>
					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/project">Project</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/board">Board</a>
				</li>

				<li clsss="nav-item">
					<a class="nav-link" href="/contactus">Contact us</a>
				</li>
			</ul>
		</div>

	</nav>

