<!DOCTYPE html>
<html>
	<head>
		<% include header %>

		<style>
			.featurette-divider {
			  margin: 4rem 0;
			}

			.featurette-heading {
			  font-weight: 300;
			  line-height: 1;
			  letter-spacing: -.05rem;
			  margin-bottom: 1rem;
			}

			@media (min-width: 40em) {
			  .carousel-caption p {
			    margin-bottom: 1.25rem;
			    font-size: 1.25rem;
			    line-height: 1.4;
			  }

			  .featurette-heading {
			    font-size: 35px;
			  }
			}

			@media (min-width: 62em) {
			  .featurette-heading {
			    margin-top: 6rem;
			  }
			}
		</style>
	</head>

	<body>
		<% include nav %>
		
		<main role="main">
			<div class="container">
				<div class="project-header">
					<div class="container">	
						<h1 class="project-title"> Introduction of our project </h1>
						<p class="lead project-description"> Tiny earthquake detector </p>
					</div>
				</div>

				<div class="row featurette">
					<div class="col-md-7 order-md-1">
						<h3 class="featurette-heading">진동감지센서를 활용한 <span class="text-muted">소형 지진 감지기</span></h3>
					<p class="lead">이번 11.15 포항에서 일어난 지진처럼 최근 우리나라에도 지진이 많이 발생하고 있는 추세이며 더 이상 지진 안전국이라 안심할 수 없는 상황에서 간단한 소형 지진 감지기로 진동을 감지하고 장비를 이용해 효율적으로 대처하고자 한다 </p>
					</div>

					<div class="col-md-5 order-md-2">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/sub1.png" data-holder-rendered="true">
          			</div>
          		</div>

				<hr class="featurette-divider">

				<div class="row featurette">
		        	<div class="col-md-7 order-md-2">
		        		<h2 class="featurette-heading">How does it work? <span class="text-muted">See the article below</span></h2>
		        		<p class="lead">먼저 진동이 발생하면 진동 감지센서가 지진을 감지하여 수치를 파악하고 웹캠이 켜지거나 경고등을 점등하는 등의 작동을 하고 사용자에게 모바일로 경고를 알린다. 최대 진도 수치를 기록하여 데이터를 전송한다.</p>
		        	</div>
		        	<div class="col-md-5 order-md-1">
		        		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/sub2.png" data-holder-rendered="true">
		        	</div>
		        </div>

		        <hr class="featurette-divider">

				<div class="row featurette">
		        	<div class="col-md-7">
		        		<h2 class="featurette-heading">Algorithm <span class="text-muted">Flow chart.</span></h2>
		        		<p class="lead">위에서 동작하는 순서처럼 먼저 감지기에서 진동을 감지하여 진동 수치를 측정한다. 측정한 진동 수치에 따라 동작을 한 뒤에 수치를 판단하여 경고를 알릴지 말지를 결정하며 경고를 알릴 경우에는 사용자에게 모바일로 데이터를 전송하며 최대 진도 수치에 대한 정보도 함께 알리며 동작은 끝이나며 해당 순서도로 동작한다.</p>
		        	</div>
		        	<div class="col-md-5">
		        		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/sub3.png" data-holder-rendered="true">
		        	</div>
		        </div>

		        <hr class="featurette-divider">

				<div class="row featurette">
		        	<div class="col-md-7 order-md-2">
		        		<h2 class="featurette-heading">Core Component <span class="text-muted">SW-420</span></h2>
		        		<p class="lead">SW-420은 진동 감지부와 감도 조절, 그리고 핀으로 이루어져 있다. 감도 조절부를 통해서 충격의 민감도를 조절할 수 있다.</p>
		        		<p class="lead">PIN 배열은 VCC, GND, Signal로 이루어져 있으며 VCC, Signal로 이루어져 있기 때문에 디지털값과 아날로그값을 측정할 수 있다.</p>
		        	</div>
		        	<div class="col-md-5 order-md-1">
		        		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/sub4.png" data-holder-rendered="true">
		        	</div>
		        </div>

		        <hr class="featurette-divider">

				<div class="row featurette">
		        	<div class="col-md-7">
		        		<h2 class="featurette-heading">Advanced Works</h2>
		        		<p class="lead">선행으로 이루어지고 있는 작업은 Raspberry Pi Shake Project라고 하는 개인이 지진을 감지하고 기록할 수 있는 제품이다.</p>
		        		<p class="lead">단일 채널의 4.5Hz 지진 감지기로 전자적으로 50sps에 18비트 디지타이저를 사용해 샘플링하며 멀리서 발생한 큰 지진을 기록할 수 있지만 미세하게 잃어버릴 수 있고, 짧은 주기인 0.5~15Hz 구간의 지진을 감지하고 기록할 수 있는 제품이다.
		        	</div>
		        	<div class="col-md-5">
		        		<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/sub5.png" data-holder-rendered="true">
		        	</div>
		        </div>
			</div>
		</main>
		
		<% include footer %>
	</body>
</html>
