
body {
	padding-top: 3.5rem;
}

.marketing .col-lg-3 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing .col-lg-3 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

.featurette-divide {
	margin: 3rem 0;
}

.project-header {
	padding-bottom: 1.25rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-bottom: .05rem solid #eee;
}

.project-title {
	margin-bottom: 0;
	font-size: 2rem;
	font-weight: 400;
}

.project-description {
	font-size: 1.1rem;
	color: #999;
}

// Bulletin Board

.board-content {
	text-align: center;
}

